.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  padding: 16px;
  /* width: 80vw; */
}
.img {
  /* width: 20vw; */
  border-radius: 20%;
}
.btn {
  margin-left: 90%;
}
.test2 {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
