/* App.module.css */
.container {
  position: relative;
}

.FAB {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 768px) {
  .all {
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .all {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .all {
    height: 100vh;
  }
}
