.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gridItem {
  display: flex;
  align-items: flex-end;
}

.submitButton {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.container {
  background-color: #eee;
  width: 100%;
}
